.addModal {
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.397);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99;
}
.modal {
    height: 60vh;
    width: 50vw;
    background-color: white;
    z-index: 100;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}
.modal .modal_header{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex: 2;
    width: 100%;
}
.modal .todo_header{
    width: 100%;
}
.modal_header .header_title{
    flex: 1 !important;
}
.modal_header .todo_tb{
    flex: 9 !important;
}
.modal .modal_body{
    flex: 9;
}